- if login?
  .alert.alert-success
    .glyphicon.glyphicon-hand-right
    订单管理
  %table.table.table-striped.table-bordered
    %tr
      %td 我的订单
      %td
        = link_to '订单列表', me_user_orders_path(current_user), class: ['col-sm-4', 'btn', 'btn-sm', 'btn-primary']
        %br
        %br
        %p.help-block 我的所有状态的订单管理
    - if admin?
      %tr
        %th 全部商品
        %td= link_to '商品管理', admin_goods_path, class: ['col-sm-4','btn', 'btn-sm', 'btn-primary']
      %tr
        %th 全部订单
        %td= link_to '订单管理', admin_orders_path, class: ['col-sm-4','btn', 'btn-sm', 'btn-primary']

  .alert.alert-success
    .glyphicon.glyphicon-user
    个人信息管理
  - if @user.errors.any?
    = render partial: 'alert_error', locals: { model: @user }
  = form_for current_user, as: :user, method: :put, url: me_user_path(current_user), html: { class: ['form-horizontal'], role: 'form'} do |t|
    .form-group
      .col-sm-3.control-label
        = @user.icon? ? image_tag(@user.icon_url) : image_tag("Default.png")
      .col-sm-8
        = t.file_field :icon
        %p.help-block Select and updoad your pictures with format jpg, jpegor png.
        = t.hidden_field :icon_cache
    .form-group
      = t.label :name, 'Nickname', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_field :name, { class: 'form-control', placeholder: 'Nickname'}
    .form-group
      = t.label :email, 'Email', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_field :email, { class: 'form-control', placeholder: 'Email', type: 'email'}
    .form-group
      = t.label :birthday, 'Birthday', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.date_select :birthday, start_year: Time.now.years_ago(100).year, end_year: Time.now.year, class: 'form-control'
    .form-group
      = t.label :pref, 'Pref', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_field :pref, { class: 'form-control', placeholder: 'Where you come from'}
    .form-group
      = t.label :likes, 'Likes', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_area :likes, { class: 'form-control', placeholder: 'Your likes'}
    .form-group
      = t.label :homepage, 'Homepage', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_area :homepage, { class: 'form-control', placeholder: 'Your homepage/facebook etc.'}
    .form-group
      = t.label :introduction, 'Introduction', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_area :introduction, { class: 'form-control', placeholder: 'Introduction of yourself'}
    .form-group
      .col-sm-offset-3
        = t.submit 'Update', class: ['btn', 'btn-md', 'btn-primary']

- else
  %h2 Please login first


