- if login?
  .alert.alert-success
    .glyphicon.glyphicon-hand-right
    Basic Action
  %table.table.table-striped.table-bordered
    %tr
      %td Gallery
      %td
        = link_to 'gallery', me_user_resources_path(current_user), class: ['col-sm-4', 'btn', 'btn-sm', 'btn-primary']
        %br
        %br
        %p.help-block Upload or edit your pictures.
    %tr
      %td Album preview
      %td
        = link_to 'preview', home_me_user_path(current_user), class: ['col-sm-4', 'btn', 'btn-sm', 'btn-primary']
        %br
        %br
        %p.help-block All your released pictures give an default album, Preview your default album.
    %tr
      %td Posts
      %td
        = link_to 'Posts', me_user_posts_path(current_user), class: ['col-sm-4', 'btn', 'btn-sm', 'btn-primary']
        %br
        %br
        %p.help-block A post is other albums except default album. You can add the same picture from gallery to different posts.
    %tr
      %td Blog
      %td
        = link_to 'Blogs', me_user_blogs_path(current_user), class: ['col-sm-4', 'btn', 'btn-sm', 'btn-primary']
        %br
        %br
        %p.help-block Create or edit your blog.
    %tr
      %td Music
      %td
        = link_to 'musics', me_user_musics_path(current_user), class: ['col-sm-4', 'btn', 'btn-sm', 'btn-primary']
        %br
        %br
        %p.help-block Upload or edit your musics.
    - if admin?
      %tr
        %th Informations
        %td= link_to 'information', admin_inforamtions_path, class: ['col-sm-4','btn', 'btn-sm', 'btn-primary']

  .alert.alert-success
    .glyphicon.glyphicon-user
    Update Personal Informaion
  - if @user.errors.any?
    = render partial: 'alert_error', locals: { model: @user }
  = form_for current_user, as: :user, method: :put, url: me_user_path(current_user), html: { class: ['form-horizontal'], role: 'form'} do |t|
    .form-group
      .col-sm-3.control-label
        = @user.icon? ? image_tag(@user.icon_url) : image_tag("Default.png")
      .col-sm-8
        = t.file_field :icon
        %p.help-block Select and updoad your pictures with format jpg, jpegor png.
        = t.hidden_field :icon_cache
    .form-group
      = t.label :name, 'Nickname', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_field :name, { class: 'form-control', placeholder: 'Nickname'}
    .form-group
      = t.label :email, 'Email', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_field :email, { class: 'form-control', placeholder: 'Email', type: 'email'}
    .form-group
      = t.label :birthday, 'Birthday', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.date_select :birthday, start_year: Time.now.years_ago(100).year, end_year: Time.now.year, class: 'form-control'
    .form-group
      = t.label :pref, 'Pref', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_field :pref, { class: 'form-control', placeholder: 'Where you come from'}
    .form-group
      = t.label :likes, 'Likes', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_area :likes, { class: 'form-control', placeholder: 'Your likes'}
    .form-group
      = t.label :homepage, 'Homepage', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_area :homepage, { class: 'form-control', placeholder: 'Your homepage/facebook etc.'}
    .form-group
      = t.label :introduction, 'Introduction', class: ['col-sm-3', 'control-label']
      .col-sm-8
        = t.text_area :introduction, { class: 'form-control', placeholder: 'Introduction of yourself'}
    .form-group
      .col-sm-offset-3
        = t.submit 'Update', class: ['btn', 'btn-md', 'btn-primary']

- else
  %h2 Please login first


