= form_for :login, method: 'post', url: login_path, html: { class: ['form-signin'], role: 'form'} do |t|
  %font{:color => "red"}= flash[:alert]
  %h2.form-signin-heading Please sign in
  = t.text_field :email, { class: 'form-control', placeholder: 'Email', type: 'email'}
  = t.password_field :pass, { class: 'form-control', placeholder: 'Password', type: 'password'}
  %label.checkbox
    %input{:type => "checkbox", :value => "remember-me"}
    Remember me
  .form-group
    = t.submit 'Sign in', class: ['btn', 'btn-lg', 'btn-primary', 'btn-block']
