%h3 商品一览
.alert.alert-info
  NOTICE: 点击进入商品详细介绍页面之后可以下单（需登录）

%ul.nav.nav-tabs
  %li{class: @brand.nil? ? 'active' : nil}= link_to '全部', visitor_goods_path()
  %li{class: tab?(@brand, 'SKII')}= link_to 'SKII', brand_visitor_goods_path(brand: 'SKII')
  %li{class: tab?(@brand, 'FANCL')}= link_to 'FANCL', brand_visitor_goods_path(brand: 'FANCL')
  %li{class: tab?(@brand, 'SUQQU')}= link_to 'SUQQU', brand_visitor_goods_path(brand: 'SUQQU')

%table.table.table-condensed
  %tr.info
    %th 标题
    %th 描述
    %th 创建日期
  - @goods.try(:each) do |good|
    %tr
      %td= link_to utf8_html(good.title), visitor_good_path(good)
      %td= short_utf8_html(good.description_c, 16)
      %td= good.created_at.to_s(:db)

%center= paginate @goods if @goods.present?
