%h3 订单详细

.alert.alert-info
  NOTICE: 管理员页面

- if !@order.editable?
  .alert.alert-info NOTICE: 删除慎重在处理中/处理结束
.pull-right
  %td= link_to '删除', admin_order_path(@order), method: :delete, data: { confirm: "确定删除 #{utf8_html(@order.good.title)} 的订单吗?" }, class: ['btn', 'btn-lg', 'btn-danger']
%table.table.table-condensed
  %tr
    %th 商品
    %td= link_to utf8_html(@order.good.title), visitor_good_path(@order.good)
  %tr
    %th 数目
    %td= @order.quantity
  %tr
    %th 下单人
    %td= link_to utf8_html(@order.user.name), visitor_user_path(@order.user)
  %tr
    %th 当前状态
    %td= @order.show_state
  %tr
    %th 状态转换
    - if @order.closed?
      %td= @order.show_next_state
    - else
      %td= link_to "更改状态为 #{@order.show_next_state}", change_state_admin_order_path(@order), method: :put, data: { confirm: "确定更改状态为 #{@order.show_next_state} 吗?" }, class: ['btn', 'btn-sm', 'btn-primary']
  %tr
    %th 创建时间
    %td= @order.created_at.to_s(:db)
  %tr
    %th 处理开始时间
    %td=@order.accepted_at.nil? ? nil : @order.accepted_at.to_s(:db)
  %tr
    %th EMS时间
    %td= @order.delivered_at.nil? ? nil : @order.delivered_at.to_s(:db)
  %tr
    %th EMS单号
    %td= @order.deliver_number
  %tr
    %th 接受到时间
    %td= @order.received_at.nil? ? nil : @order.received_at.to_s(:db)
  %tr
    %th 处理结束时间
    %td= @order.closed_at.nil? ? nil : @order.closed_at.to_s(:db)
  %tr
    %th 备注
    %td= simple_format utf8(@order.description)
  %tr
    %th 评论
    %td= simple_format utf8(@order.comment)

%center
  - if @order.prev
    = link_to "< 前往上一订单", admin_order_path(@order.prev), class: ['btn','btn-sm', 'btn-warning']
  - if @order.next
    = link_to "前往下一订单 >", admin_order_path(@order.next), class: ['btn','btn-sm', 'btn-info']

= link_to '编辑', edit_admin_order_path(@order)
\|
= link_to_function "返回", "history.back()"
