.panel.panel-default.panel-primary
  .panel-heading
    %h1.panel-title Personal Information
  %pre
    %table.table
      %tr
        %td= @user.icon? ? image_tag(@user.icon_url) : image_tag("Default.png")
        %td= @user.name
      %tr
        %th email
        %td= @user.email
      %tr
        %th birthday
        %td= @user.birthday.to_s(:db)
      %tr
        %th pref
        %td= @user.pref
      %tr
        %th likes
        %td= @user.likes
      %tr
        %th introduction
        %td= @user.introduction

