%h3 商品一览

= link_to '新建商品', new_admin_good_path, class: ['btn', 'btn-primary'

%table.table.table-condensed
  %tr.info
    %th 标题
    %th 描述
    %th 创建日期
  - @goods.try(:each) do |good|
    %tr
      %td= link_to utf8_html(good.title), visitor_good_path(good)
      %td= short_utf8_html(good.description_c, 16)
      %td= good.created_at.to_s(:db)

%center= paginate @goods if @goods.present?
